@import '../../theme.scss';

.public-home-page {
  .billboard-container {
    /* Container for the billboard */
    width: 100%;
    height: 440px;
    display: table;
    .billboard-message-container {
      /* Container centering the message of the billboard */
      width: 100%;
      height: 100%;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      h1 {
        font-size: 32px;

      }
      p {

      }
    }
    .billboard {


    }
  }
  .button-container {
    /* Container used for Login and Register buttons */
    width: 364px;
    margin: 72px auto;
    .ant-btn {
      width: 140px;
      height: 40px;
      text-transform: uppercase;
      margin: 0 20px;
    }
  }
}
