@import '../../theme.scss';

$innerWidth: 1080px;

.private-app-header {
  height: 72px;
  padding: 0 calc(calc(100% - 1080px)/2);
  display: flex;
  background-color: white;
  box-shadow: inset 0px -1px 0px #f3f3f4;
  .left-aligned {
    /*container occupying left part of header*/
    width: 180px;
    text-align: left;
    a {
      /* Logo */
      font-size: 32px;
      color: black;
    }
  }
  .right-aligned {
    /*container occupying right part of header*/
    width: 900px;
    text-align: right;
    a {
      /* Navigation links */
      font-size: 20px;
      margin: 0 20px;
      color: black;
    }
  }
}
