@import "../../theme.scss";

.ant-popover-inner-content {
  padding: 0;
}
.user-action-menu {
  width: 245px;
  padding: 30px 0;
  .action-line {
    padding: 7px 32px;
    cursor: pointer;
    color: #6e6d7a;
    &:hover {
      background-color: hsl(0, 0, 98);
      color: #343339;
    }
    .anticon {
      font-size: 14px;
      margin-right: 4px;
    }
  }
  .ant-divider {
    margin: 13px 32px;
    width: calc(100% - 64px);
    min-width: calc(100% - 64px);
    box-sizing: border-box;
  }
}
