@import "../../../theme.scss";

.discover-page {
  display: flex;
  background-color: $backgroundColor;
  .lef-panel {
    width: 340px;
  }
  .user-stack {
    width: calc(100vw - 340px);
    .user-cover {
      height: 240px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
      .cover-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(hsla(0, 0%, 96%, 0), hsl(0, 0%, 90%));
      }
      .cover-details {
        position: absolute;
        left: 20px;
        bottom: 20px;
        display: flex;
        h1 {
          font-size: 46px;
          margin: 0;
          line-height: 72px;
        }
        h4 {
          font-size: 32px;
          margin: 0 0 0 12px;
          line-height: 72px;
        }
      }
    }
    .information-section {
      display: flex;
      .text-wall {
        width: 280px;
        min-width: 280px;
        padding: 20px;
        margin-right: 140px;
        .about-me {
          margin-bottom: 50px;
          .language-tag {
            padding: 4px 8px;
            border-radius: 20px;
            border: none;
            box-shadow: -1px -1px 3px hsla(0,0,100%,1), 1px 1px 3px hsla(0,0,0,0.2);;
            background: $backgroundColor;
            margin-bottom: 12px;
            &.active{
              border: 2px solid $themeRed;
            }
          }
        }
        .looking-for {

        }
      }
    }
    .user-gallery {
      padding: 20px;
      width: calc(100% - 420px);
      .user-info-cards {
        .card-container {
          display: flex;
          .card {
            .icon-container {
              width: 64px;
              height: 64px;
              box-shadow: -1px -1px 3px hsla(0,0,100%,1), 1px 1px 3px hsla(0,0,0,0.2);
              border-radius: 50%;
              position: relative;
              border: solid 7px $backgroundColor;
              &.snail {
                background: linear-gradient(135deg, rgba(255, 0, 0, 1), rgba(255, 103, 103, 1));
              }
              &.world {
                background: linear-gradient(135deg, rgba(63, 129, 228, 1), rgba(69, 143, 255, 1));
              }
              &.distance {
                background: linear-gradient(135deg, rgba(0, 246, 91, 1), rgba(101, 254, 88, 1));
              }
              .icon {
                font-size: 36px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                fill: white;
              }
            }
          }
        }
      }
      .user-interest-tabs {
        .ant-tabs-nav {
          .ant-tabs-tab {
            margin-right: 40px;
            font-family: "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
            font-weight: 500;
            color: $colorInactive;
            &:hover {
              color: $colorDark;
            }
            .ant-tabs-tab-btn {
              &:focus {
                color: $colorDark;
              }
              &:active {
                color: $colorDark;
              }
            }
          }
          &::before {
            border: none;
          }
          .ant-tabs-tab-active .ant-tabs-tab-btn {
            color: $colorDark;
          }
          .ant-tabs-ink-bar {
            background: red;
          }
        }
        .ant-tabs-tabpane {
          width: calc(100vw - 760px);
          height: 280px;
          .carousel-container {
            height: 100%;
            width: 100%;
            .react-multi-carousel-track {
              .carousel-item {
                width: 320px;
                height: 240px;
                padding: 20px;
                .content-container {
                  width: 100%;
                  height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                  }
                  .details-container {
                    display: flex;
                    padding: 8px 0;
                    position: relative;
                    .ant-typography {
                      margin: 0;
                    }
                    .stat-container {
                      margin-left: auto;
                      font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                      font-size: 12px;
                      line-height: 22px;
                      color: #9e9ea7;
                      .stat-icon {
                        font-size: 14px;
                        vertical-align: middle;
                        cursor: pointer;
                        svg {
                          margin: auto 0;
                          display: block;
                        }
                        &:hover {
                          color: #ff6767;
                        }
                      }
                      .stat-badge {
                        padding: 0 4px;
                        sup {
                          padding: 0;
                          background-color: transparent;
                          color: #9e9ea7;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .user-location {
        margin: 16px 0 12px 0;
        h4 {
          height: 46px;
          line-height: 46px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
