$backgroundColor: hsl(0, 0, 96);

$themeRed: hsla(358, 70, 100, 1);
$themeBlue: hsla(205, 70, 100, 1);
$themeGreen: hsla(150, 70, 100, 1);

/* Neumorphism styling classes */

.neumorphic-billboard {
  /* Flat up effect used for larger object. Should be used for larger
  items that ought to be emphasized.*/
  background-color: $backgroundColor;
  box-shadow: -3px -3px 3px hsla(0,0,100%,1), 3px 3px 3px hsla(0,0,0,0.2);
  border-radius: 5px;
}


/* BUTTONS */
.neumorphic-button {
  /* Button with flat up effect. Should be used for regular buttons. */
  background-color: $backgroundColor;
  box-shadow: -3px -3px 3px hsla(0,0,100%,1), 3px 3px 3px hsla(0,0,0,0.2);
  border-radius: 5px;
  border: none;
  &:hover {
    box-shadow: -1px -1px 3px hsla(0,0,100%,1), 1px 1px 3px hsla(0,0,0,0.2);
    background-color: $backgroundColor;
  }
}

.neumorphic-button-primary {
  /* Button with convex up effect. Should be used to emphasize actions as
  button uses the the primary theme red color. */
  color: hsla(0, 0, 92%, 1);
  background: linear-gradient(135deg, #ff8386, #CC3D42);
  box-shadow: -3px -3px 3px hsla(0,0,100%,1), 3px 3px 3px hsla(0,0,0,0.2);
  border-radius: 5px;
  border: none;
  &:hover {
    color: hsla(0, 0, 100%, 1);
    box-shadow: -1px -1px 3px hsla(0,0,100%,1), 1px 1px 3px hsla(0,0,0,0.2);
    background: linear-gradient(135deg, #ff8386, #CC3D42);
  }
}

/* INPUT */
.neumorphic-text-input {

}
